body {
    height: 100%;
    font-family: 'Roboto', serif;
    background-image: url(P1030216.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 3.5em;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #FAF9F5;
    opacity: 0.8;
    padding: 10px;
    margin: 2em auto;
    border-radius: 4px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

form {
    display: flex;
    border: 1px solid #283618;
    border-radius: 4px;
    margin: 5px;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    padding-left: 10px;
    text-transform: uppercase;
    box-shadow:none;
    border: none;
    flex-grow: 2;
    border-radius: 4px;
}

input:focus {
    box-shadow:none;
}

ul {
    list-style-type: none;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.3em;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.remove {
    cursor: pointer;
    font-size: 1.5em;
    margin: 5px;
}

.remove:hover {
    color: red;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #283618;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    transition-duration: 0.3s;
}

#add {
    flex-grow: 1;
}

#clear {
    border-radius: 4px;
}

button:hover {
    background-color: #606C38;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2em;
    }

    .container {
        margin: 10px auto;
        width: 95%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input {
        font-size: 1em;
        width: 50%;
    }

}
